#######################################
# .NET Build
#######################################

bin/
obj/
out/
artifacts/

#######################################
# User-specific files
#######################################

*.user
*.rsuser
*.suo
*.userprefs

#######################################
# VS Code
#######################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#######################################
# Logs
#######################################

*.log

#######################################
# macOS
#######################################

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

#######################################
# NuGet
#######################################

*.nupkg
.nuget/
packages/

#######################################
# Test & Coverage
#######################################

TestResults/
coverage/
*.coverage
*.coveragexml